<div class="picturePresta mt-5 d-none d-sm-block">
    {% if user.profilePicture is empty %}
    <img id='profil' src="https://i.postimg.cc/D0gWbdTV/svyatoslav-romanov-Br-EAp01-m5w-unsplash.jpg"
        alt="photo de profil">
    {% else %}
    <img id='profil' src="/uploads/profile_picture/{{ user.profilePicture }}" alt="photo de profil">
    {% endif %}
</div>